@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Playfair";
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  }
}

header {
  background: linear-gradient(
    281deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(170, 81, 86, 1) 35%,
    rgba(64, 70, 66, 1) 36%
  );
}
#slider {
  background: radial-gradient(
    rgba(64, 70, 66, 1) 0%,
    rgba(170, 81, 86, 1) 5%,
    rgb(133, 129, 219) 36%
  );
}
.colorful-text {
  display: inline-block;
  animation: colorChange 3s infinite;
}

.colorful-text span {
  animation: inherit;
  display: inline-block;
}
@keyframes colorChange {
  0%,
  100% {
    color: rgb(133, 129, 219);
  }
  25% {
    color: rgba(64, 70, 66, 1);
  }
  50% {
    color: rgba(170, 81, 86, 1);
  }
}

.colorful-text span:nth-child(1) {
  animation-delay: 0.1s;
}
.colorful-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.colorful-text span:nth-child(3) {
  animation-delay: 0.3s;
}
.colorful-text span:nth-child(4) {
  animation-delay: 0.4s;
}
.colorful-text span:nth-child(5) {
  animation-delay: 0.5s;
}
.colorful-text span:nth-child(6) {
  animation-delay: 0.6s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
input[type="range"] {
  @apply appearance-none;
}
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-main rounded-3xl h-2;
}

input[type="range"]::-moz-range-track {
  @apply bg-main;
}

input[type="range"]::-ms-track {
  @apply bg-main;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-2 h-2 bg-yellow-300 rounded-full cursor-pointer;
  /* Adjust to align the thumb with the track */
}

input[type="range"]::-moz-range-thumb {
  @apply w-4 h-4 bg-main rounded-full cursor-pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
